.h-55px{
    height: 55px;
}
.fs-13px{
    font-size: 13px;
}
.fw-600{
    font-weight: 600;
}
.top80{
    top: 89% !important;
}
.bg-gray{
    background-color: #f2f2f2;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    content: "";
    width: 90%;
    position: absolute;
    bottom: 5px;
    height: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: black;
    display: none;
}
.nav-item:hover::after{
    display: block;
}
.dropdown-toggle{
    position: relative;
}
.dropdown-toggle::before{
    content: "";
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: black;
    display: none;
    left: 0;
}
.dropdown-toggle:hover::before{
    display: block;
}
/* .show{
    display: flex !important;
} */
.dropdown-toggle{
 &.show{
align-items: center;}
}

.dropdown-menu{
    left: 50% !important;
    transform: translateX(-50%) !important;
}
 .bg-lightgrey{
    background-color: #e6e6e6;
 }
 .border-color{
    border-bottom: 2px solid black !important;
 }
 .search{
     transform: rotateZ(90deg);
     -webkit-transform: rotateZ(90deg);
     -moz-transform: rotateZ(90deg);
     -ms-transform: rotateZ(90deg);
     -o-transform: rotateZ(90deg);
}
 
     
.w-137{
    width: 130px;
}
.d-md-none .dropdown-toggles ::after{
    all: unset !important;

}
 .start{
    top:-400%;
    left: -10%;
 }
 /* .height160{
height: 140px;
 
 } */
 .newcolor{
    background-color: #ffb900;
 }
.svg{
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
        fill: #0067b8;
}
.top-40{
    top: 27%;
    left: 8%;
}
.w-24{
width: 20%;
}
.w-40{
    width:380px !important;
}
.w-35{
width: 35% !important;
}
.top-45{
    top: 27%;
    right:7%; 
}
.w-32{
width: 32px;
height: 32px;
}
.top{
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
}
.fs-10{
font-size: 12px;
}

 .bg-lightgrey:hover{
background-color: white;
 
    box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .13), 0 0 .0625rem 0 rgba(0, 0, 0, .11); ;
 }
    .nav-link:hover{
         
            text-decoration:underline ;
        }
        
    
.z-index{
    z-index: 9999999999999999999999 !important;
}